{
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "no-plusplus": false,
    "no-param-reassign": false,
    "trailingComma": "none",
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 200,
    "bracketSpacing": true,
    "jsxBracketSameLine": true
  }